PCB_Main/PCB.kicad_prl
PCB_Main/fp-lib-table
PCB_Main/sym-lib-table
PCB_Main/.history/
PCB_Main/PCB-backups/PCB-2026-09-28_114422.zip
PCB_Main/PCB-backups/PCB-2026-09-29_202410.zip
PCB_Main/PCB-backups/PCB-2026-09-29_203247.zip
PCB_Main/PCB-backups/PCB-2026-09-27_231917.zip
PCB_Main/PCB-backups/PCB-2026-09-28_184916.zip
PCB_Main/PCB-backups/PCB-2026-09-30_140558.zip
PCB_Main/PCB-backups/PCB-2026-09-30_200743.zip
PCB_Main/PCB-backups/PCB-2026-09-30_202131.zip
PCB_Main/PCB-backups/PCB-2026-09-30_202836.zip
PCB_Main/PCB-backups/PCB-2026-09-30_203243.zip
PCB_Main/PCB-backups/PCB-2026-09-30_212334.zip
PCB_Main/PCB-backups/PCB-2026-09-30_213940.zip
PCB_Main/PCB-backups/PCB-2026-09-30_213943.zip
PCB_Main/PCB-backups/PCB-2026-10-01_101649.zip
PCB_Main/PCB-backups/PCB-2026-10-01_104055.zip
PCB_Main/PCB-backups/PCB-2026-10-01_105002.zip
PCB_Main/PCB-backups/PCB-2026-10-01_105022.zip
PCB_Main/PCB-backups/PCB-2026-10-01_105352.zip
PCB_Main/PCB-backups/PCB-2026-10-01_110535.zip
PCB_Main/PCB-backups/PCB-2026-10-01_124338.zip
PCB_Main/PCB-backups/PCB-2026-10-01_125304.zip
PCB_Main/PCB-backups/PCB-2026-10-01_125305.zip
PCB_Main/PCB-backups/PCB-2026-10-01_134343.zip
PCB_Main/PCB-backups/PCB-2026-10-01_135554.zip
PCB_Main/PCB-backups/PCB-2026-10-01_141449.zip
PCB_Main/PCB-backups/PCB-2026-10-01_141617.zip
PCB_Main/PCB-backups/PCB-2026-10-01_141635.zip
PCB_Main/PCB80B9.kicad_prl
PCB_Main/~PCB.kicad_pro.lck
PCB_Main/~PCB.kicad_sch.lck
PCB_Main/PCB.step
PCB_Joystick/.history/
PCB_Joystick/fp-lib-table
PCB_Joystick/pcb  ag.kicad_prl
PCB_Joystick/sym-lib-table
PCB_Joystick/~pcb  ag.kicad_sch.lck
PCB_Joystick/~pcb  ag.kicad_pro.lck
